<a href="https://colab.research.google.com/github/seetharamaiah12/ram/blob/main/week3py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def income_tax(annualincome):
   tax = annualincome*0.40

   print("tax is {}".format(tax))

In [ ]:
income_tax(40000)

tax is 16000.0

In [ ]:
a=0
b=1
count= 0
print(a)
print(b)
while count<8:
  sum1= a+b
  print(sum1)
  a=b
  b=sum1
  count = count+1

0
1
1
2
3
5
8
13
21
34

In [ ]:
x= input("print my biography")
lenhh = len(x)
print(lenhh)

print my biographymy name is ram
14